@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
    font-family: 'Blackbarry';
    src: url('../fonts/Blackbarry.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


:root{
    --color: black;
    --color-sec: #1E1E1E;
    --color-quads: #FF6666;
}

*, *::after, *::before{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--color);

}

body main {
    overflow: hidden;
    padding: 10px;
    gap: 20px;
    height: 100%;
    max-width: 1490px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

#left{
    flex: 1;
    display: flex;
    flex-direction: column ;
    gap: 10px;
    padding: 10px;

    
}

.streak{
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: var(--color-sec);
    height: 80px;
    border-radius: 10px;
}

.board-img{
    border-radius: 10px;
    height: 310px;
    background-color: var(--color-sec);
}

.board-img img{
    width: 200px;
}


.board-timer{
    border-radius: 10px;
    height: 210px;
    font-family: 'Blackbarry';
    font-size: 10rem;
    gap: 5px;

    color: white;
    position: relative;
    display: flex;
    justify-content: space-between;
}


.borderbox{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid white;
    height: 100%;
    flex: 1;
}

.borderbox span{
    z-index: 5;
}

.borderbox:nth-of-type(1)::before{
    content: "";
    background-color: black;
    z-index: 4;
    position: absolute;
    width: 100%;
    height: 100px;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    box-shadow: 
    0px 20px 10px 10px rgb(0, 0, 0),
    0px -20px 10px 10px rgb(0, 0, 0);
}

/** buttons */
.board-buttons{
    display: flex;
    justify-content: start;
    gap: 10px;
    height: 50px;
    
}

.board-buttons button{
    background-color: var(--color-sec);
    border-radius: 10px;
    color: white;
    border: none;
    box-shadow: none;
    font-family: 'Poppins';
}

.board-buttons button:nth-of-type(1){
    max-width: 150px;
    width: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px 0px;
    cursor: pointer;
}
.board-buttons button:nth-of-type(2){
    max-width: 100px;
    width: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px 0px;
    cursor: pointer;
}
.board-buttons button:nth-of-type(3){
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.board-buttons button:nth-of-type(3) img{
    width: 36px;
}
/** buttons */




.streak{
    display: flex;
    justify-content: space-around;

    padding: 0 5px;
}

.streakimg{
    display: flex;
    align-items: center;
    color: white;
    gap: 5px;
    font-family: 'Poppins';
    font-size: 1.2rem;
    font-weight: 600;
    
}

.streakimg img{
    width: 50px;
    color: white;
}

.streaktoday{
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(6, 25px);
}

.quads{
    border-radius: 3px;
    background-color: var(--color-quads);
    height: 25px;
}


/** gear config*/

.gear-modal{
    max-width: 380px;
    width: 100%;
    padding: 5px;
    display: none;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 10px;
    background-color: var(--color-sec);
    color: white;
    gap: 10px;
    font-family: 'Poppins';
}

.gear-modal.active{
    display: flex;
}

.gear-board:nth-of-type(1){
    flex: 1;
    display: flex;
    justify-content: end;
}

.gear-board:nth-of-type(1) div{
    width: 30px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    background-color: var(--color-quads);
}


.gear-board:nth-of-type(1) div img{
    width: 100%;
}



.gear-board:nth-of-type(2){
    flex: 1;
    display: flex;

    gap: 2px; 
}

.gear-board:nth-of-type(2) label{
    display: flex;
    flex: 1;
    gap: 2px;
    flex-direction: column;
    align-items: center;

}

.gear-board:nth-of-type(2) label input{
    width: 100%;
    border: 1px solid white;
    background-color: black;
    outline: none;
    font-family: 'Poppins';
    border-radius: 3px;
    padding-left: 3px;
    color: white;
}

.gear-board:nth-of-type(3){
    flex: 1;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.gear-board:nth-of-type(3) button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    padding: 5px 0px;
    border: 1px solid white;
    border-radius: 3px;
    background-color: black;
    color: white;
    font-family: 'Poppins';
}

/** gear config*/



@media (max-width: 500px){

    .streaktoday{
        display: grid;
        gap: 2px;
        grid-template-columns: repeat(6, 15px);
    }
    
    .quads{
        border-radius: 3px;
        height: 15px;
        background-color: var(--color-quads);
    }

     
}

@media  (max-width: 900px) {
    body main{
        flex-direction: column !important;
    }
}